# Project: Flag Continent Prediction
In this project,

## Part 1: Load the data

In [5]:
import pandas as pd
import numpy as np

In [9]:
# load the data
flags = pd.read_csv('14 ML_DecisionTrees_FlagIdentification.csv', header = 0)
flags.head(3)

,Name,Landmass,Zone,Area,Population,Language,Religion,Bars,Stripes,Colors,...,Saltires,Quarters,Sunstars,Crescent,Triangle,Icon,Animate,Text,Topleft,Botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white

## Part 2: Feature Selection

In [10]:
# we want to predict on which landmass a flag is on. So, landmass column is our lablel
landmass = flags [['Landmass']]
landmass.head(3)

   Landmass
0         5
1         3
2         4

In [13]:
# features to predict the landmass 
data= flags [["Red", "Green", "Blue", "Gold", "White", "Black", "Orange"]]
data.head(3)

   Red  Green  Blue  Gold  White  Black  Orange
0    1      1     0     1      1      1       0
1    1      0     0     1      0      1       0
2    1      1     0     0      1      0       0

## Part 3: Data Segregation

In [15]:
from sklearn.model_selection import train_test_split
train_data, test_data, train_label, test_label = train_test_split(data, landmass, train_size=0.8, test_size=0.2, random_state=1)

## Part 4: Create Decision Tree Model

In [16]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(random_state = 1)
tree.fit(train_data,train_label)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

In [18]:
# Scoring the model on the test data
tree.score(test_data, test_label)

0.38461538461538464

## Part 5: Model Tuning

In [ ]:
# Evaluate feature importance 
#print('Sex', 'Age', 'FirstClass', 'SecondClass']
coefficients = model.coef_
print("Sex coefficient: " + str(coefficients[0][0])+ ", Age coefficient: " + str(coefficients[0][1])+ ", FirstClass coefficient: " + str(coefficients[0][2])+ ", SecondClass coefficient: " + str(coefficients[0][3]))

In [ ]:
print("Sex and Ticket Class are the most important factors of survival.")