# Project: Income Prediction
In this project, we will try to predict whether or not a person makes more than $50,000 by using this census data with a random forest.

Dataset reference:Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science.

Dataset: https://archive.ics.uci.edu/ml/datasets/census+income

## Part 1: Load the data

In [2]:
import pandas as pd
import numpy as np

In [6]:
# load the data
# adding delimiter = ", " to remove space in the beging of each value 
income_data = pd.read_csv('15 ML_RandomForest_IncomePredictionDataset.csv',header = 0, delimiter = ", ")
income_data.head(3)

/anaconda3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

## Part 2: Feature Selection

In [9]:
# we want to predict the level of income. So, income column is our lablel
labels = income_data [['income']]
labels.head(3)

  income
0  <=50K
1  <=50K
2  <=50K

In [10]:
# features to predict the income 
data= income_data [["age", "capital-gain", "capital-loss", "hours-per-week", "sex"]]
data.head(3)

   age  capital-gain  capital-loss  hours-per-week   sex
0   39          2174             0              40  Male
1   50             0             0              13  Male
2   38             0             0              40  Male

In [21]:
# Turn sex column to an integer 
data['sex'] = data['sex'].apply(lambda row: 0 if row == 'Male' else 1)
data.head(3)

/anaconda3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   age  capital-gain  capital-loss  hours-per-week  sex
0   39          2174             0              40    1
1   50             0             0              13    1
2   38             0             0              40    1

## Part 3: Data Segregation

In [22]:
from sklearn.model_selection import train_test_split
train_data, test_data, train_label, test_label = train_test_split(data, labels, train_size=0.8, test_size=0.2, random_state=1)

## Part 4: Create Random Forest Model

In [23]:
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(random_state = 1)
forest.fit(train_data,train_label)

/anaconda3/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [25]:
# Scoring the model on the test data
forest.score(test_data, test_label)

0.8172884999232305