# # Project: NLP to Analyze Sentiments of Consumer Reviews of Hotels    

In this project, we use Sentiment Analysis of NLP to analyze reviews of hotels. We would like to understand if a review is positive or negative (without looking at the ratings). We will use the following libraries:
- NLTK: the most famous python module for NLP techniques
- Gensim: a topic-modelling and vector space modelling toolkit
- Scikit-learn: the most used python machine learning library

The dataset is from Kaggle and contains 515,000 customer reviews and scoring of 1493 luxury hotels offered in Booking.come across Europe.
The dataset can be found here: https://www.kaggle.com/jiashenliu/515k-hotel-reviews-data-in-europe/version/1

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

## Part 1: Load the Data and Take a Look

In [21]:
# load the data into a datadrame
reviews = pd.read_csv('/Users/Amir/PythonProjects/HotelRRDataset/Hotel_Reviews.csv')
reviews.info()

# append positive and negative reviews to have all in one column (in booking, there is two entires for 
# consumers to write positive and negative comments)
reviews["Review"] = reviews["Negative_Review"] + reviews["Positive_Review"]

# We define a bad review as the one which has overall rating of lower than 5. We label them using actual ratings 
# to compare them to our predicion to evaluate the performance 
reviews["Bad_Review?"] = reviews["Reviewer_Score"].apply(lambda x: 1 if x < 5 else 0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
Hotel_Address                                 515738 non-null object
Additional_Number_of_Scoring                  515738 non-null int64
Review_Date                                   515738 non-null object
Average_Score                                 515738 non-null float64
Hotel_Name                                    515738 non-null object
Reviewer_Nationality                          515738 non-null object
Negative_Review                               515738 non-null object
Review_Total_Negative_Word_Counts             515738 non-null int64
Total_Number_of_Reviews                       515738 non-null int64
Positive_Review                               515738 non-null object
Review_Total_Positive_Word_Counts             515738 non-null int64
Total_Number_of_Reviews_Reviewer_Has_Given    515738 non-null int64
Reviewer_Score                                515738 non-null float64
Tags                                          515738 non-null object
days_since_review                             515738 non-null object
lat                                           512470 non-null float64
lng                                           512470 non-null float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [22]:
# Select only the relevant data for Sentiment Analysis
reviews_SA = reviews[["Review","Bad_Review?"]]
reviews_SA.head(10)

                                              Review  Bad_Review?
0   I am so angry that i made this post available...            1
1  No Negative No real complaints the hotel was g...            0
2   Rooms are nice but for elderly a bit difficul...            0
3   My room was dirty and I was afraid to walk ba...            1
4   You When I booked with your company on line y...            0
5   Backyard of the hotel is total mess shouldn t...            0
6   Cleaner did not change our sheet and duvet ev...            1
7   Apart from the price for the brekfast Everyth...            0
8   Even though the pictures show very clean room...            0
9   The aircondition makes so much noise and its ...            0

## Part 2:

## Part 3:

In [1]:
# Drop unwante columns and return results in the same dataframe
#features_to_remove = ['address','attributes','business_id','categories','city','hours','is_open','latitude','longitude','name','neighborhood','postal_code','state','time']
# axis=1 lets Pandas know we want to drop columns, not rows
# inplace=True lets us drop the columns right here in our DataFrame, instead of returning a new DataFrame
#df.drop(labels=features_to_remove, axis=1, inplace=True)
#df.info()

In [3]:
# check for missing values (if any, they will prevent LR from running)
#df.isna().any()
# replace all of our NaNs with 0s
#df.fillna({'weekday_checkins':0,'weekend_checkins':0, 'average_tip_length':0, 'number_tips':0, 'average_caption_length':0,'number_pics':0}, inplace=True)
# check for missing values
#df.isna().any()

## Part 4:

## Part 5:

## Part 6: