# Project: Income Prediction
In this project, we will try to predict whether or not a person makes more than $50,000 by using this census data with a random forest.

Dataset reference:Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science.

Dataset: https://archive.ics.uci.edu/ml/datasets/census+income

## Part 1: Load the data

In [33]:
import pandas as pd
import numpy as np

In [34]:
# load the data
# adding delimiter = ", " to remove space in the beging of each value 
income_data = pd.read_csv('15 ML_RandomForest_IncomePredictionDataset.csv',header = 0, delimiter = ", ")
income_data.head(3)
income_data.info()

/anaconda3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

## Part 2: Feature Selection

In [35]:
# we want to predict the level of income. So, income column is our lablel
labels = income_data [['income']]
labels.head(3)

  income
0  <=50K
1  <=50K
2  <=50K

In [36]:
# features to predict the income 
data= income_data [["age", "capital-gain", "capital-loss", "hours-per-week", "sex", "native-country"]]
data.head(3)

   age  capital-gain  capital-loss  hours-per-week   sex native-country
0   39          2174             0              40  Male  United-States
1   50             0             0              13  Male  United-States
2   38             0             0              40  Male  United-States

In [37]:
# Turn sex column to an integer 
data['sex'] = data['sex'].apply(lambda row: 0 if row == 'Male' else 1)
# we need to trnasform native country also. First we should the value list
data["native-country"].value_counts()
# Majority of the data points are from US. We mao every row that contains "United-States" to a 0 and any other country to a 1
data['native-country'] = data['native-country'].apply(lambda row: 0 if row == 'United-States' else 1)
data.head(3)

/anaconda3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/anaconda3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   age  capital-gain  capital-loss  hours-per-week  sex  native-country
0   39          2174             0              40    0               0
1   50             0             0              13    0               0
2   38             0             0              40    0               0

## Part 3: Data Segregation

In [38]:
from sklearn.model_selection import train_test_split
train_data, test_data, train_label, test_label = train_test_split(data, labels, train_size=0.8, test_size=0.2, random_state=1)

## Part 4: Create Random Forest Model

In [39]:
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(random_state = 1)
forest.fit(train_data,train_label)

/anaconda3/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [41]:
# Scoring the model on the test data
forest.score(test_data, test_label)

0.8226623675725472